* {
  font-family: times;
}

.search-bar {
  display: inline-block;
  width: 300px;
  padding: 12px;
}

.search-button {
  display: inline-block;
  background-color: white;
  color: black;
  border: solid 1px;  
  transition: .3s;                                                                                                                                                                                                              ;
}

.search-button:hover {
  background-color: rgb(31, 108, 207);
  color: white;
}

.search-button:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.add-friend {
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 310px;
  box-shadow: 0px 3px 6px black;
  border-radius: 3px 3px 0 0;
  vertical-align: top;
}

.profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
}

p {
  display: inline-block;
  margin: 5px 0 0 5px;
}

.name {
display: block;
}

button {
  display: block;
  margin-left: 5px;
  padding: 12px 18px;
  margin-top: 10px;   
  color: white;
  background-color: rgb(50, 131, 236);
  border: none;
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: white;
  border: solid 1px black;
  color: black;
}

button:active {
  background-color: rgb(50, 131, 236);
  color: white;
  border: none;
}